./cache/ml-glyphs/sorted/**/*.png
cache/ml-glyphs/sorted/**/*.png
./cache/ml-glyphs/unsorted/*.png
cache/ml-glyphs/unsorted/*.png
.ipynb_checkpoints/*
./cache/generated/*
cache/generated/*
__pycache__
