glyphs:
- "ഽ"
- "ഺ"
- "ൿ"
- "൹"
- " "
- "!"
- "\""
- "%"
- "'"
- "("
- ")"
- "*"
- "+"
- ","
- "-"
- "."
- "/"
- ":"
- ";"
- "="
- "?"
- "["
- "]"
- "^"
- "_"
- "`"
- "{"
- "}"
- "~"
- "അ"
- "ആ"
- "ഇ"
- "ഉ"
- "ഋ"
- "ൠ"
- "ഌ"
- "ൡ"
- "എ"
- "ഏ"
- "ഒ"
- "ക"
- "ഖ"
- "ഗ"
- "ഘ"
- "ങ"
- "ച"
- "ഛ"
- "ജ"
- "ഝ"
- "ഞ"
- "ട"
- "ഠ"
- "ഡ"
- "ഢ"
- "ണ"
- "ത"
- "ഥ"
- "ദ"
- "ധ"
- "ന"
- "പ"
- "ഫ"
- "ബ"
- "ഭ"
- "മ"
- "യ"
- "ര"
- "ല"
- "വ"
- "ശ"
- "ഷ"
- "സ"
- "ഹ"
- "ള"
- "ഴ"
- "റ"
- "ൾ"
- "ൽ"
- "ൻ"
- "ർ"
- "ൺ"
- "്"
- "ാ"
- "ി"
- "ീ"
- "ു"
- "ൂ"
- "ൃ"
- "ോ"
- "ൊ"
- "ഈ"
- "ൈ"
- "ഊ"
- "ഓ"
- "ഐ"
- "ൌ"
- "ൎ"
- "ഔ"
- "ഩ"
- "ൢ"
- "ൣ"
- "ൄ"
- "െ"
- "േ"
- "ൗ"
- "ം"
- "ഃ"
- "൦"
- "൧"
- "൨"
- "൩"
- "൪"
- "൫"
- "൬"
- "൭"
- "൮"
- "൯"
- "൰"
- "൱"
- "൲"
- "൳"
- "൴"
- "൵"
- "0"
- "1"
- "2"
- "3"
- "4"
- "5"
- "6"
- "7"
- "8"
- "9"
- "‌"
- "‍"

fonts:
- - AnjaliOldLipi
  - [regular, bold, italic]
  - 9
- - Chilanka
  - [regular, bold, italic]
  - 8
- - FreeSans
  - [regular, bold, italic]
  - 9
# - - FreeSerif
  # - [regular, bold, italic]
  # - 10
- - Gayathri
  - [regular, bold, italic]
# - - Karumbi
  # - [regular, bold]
  # - 14
- - Keraleeyam
  - [regular, italic]
  - 11
- - Lohit Malayalam
  - [regular, bold, italic, bold italic]
  - 9
- - Manjari
  - [regular, bold, italic, bold italic]
  - 9
- - Noto Sans Malayalam
  - [regular, bold, italic, bold italic]
- - Noto Sans Malayalam UI
  - [regular, bold, italic, bold italic]
- - Noto Serif Malayalam
  - [regular, bold, italic, bold italic]
- - Rachana
  - [regular, bold, italic, bold italic]
- - RaghuMalayalam
  - [regular, bold, italic, bold italic]
- - Samyak Malayalam
  - [regular, bold, italic, bold italic]
  - 8
- - Suruma
  - [regular, bold, italic, bold italic]
  - 9
# - - Uroob
  # - [ regular, italic]
  # - 12
imageHeight: 32
defaultFontSize: 10
trainImageWidth: 1024
